<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">App Piano</span>
  </div>
</nav>
<br>
<div class="container">
  <div class="row mt-4">
    <div class="list-group">
      <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: red;"><span class="text-light">Do</span></a>
      <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: orange;"><span class="text-light">Re</span></a>
      <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: yellow;"><span class="text-body-secondary">Mi</span></a>
      <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: green;"><span class="text-light">Fa</span></a>
      <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: teal;"><span class="text-light">Sol</span></a>
      <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: blue;"><span class="text-light">La</span></a>
      <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: purple;"><span class="text-light">Si</span></a>
    </div>
  </div>
</div>

<!-- <audio controls>
  <source src="../assets/sonidos/note1.wav">
</audio> -->